numpy
scipy
matplotlib
joblib
astropy
ccdproc
scikit-image
scikit-learn
tqdm
pyqt5
cryptography
# ------- below goes sphinx packages -------
#sphinx_copybutton==0.5.0 # this does not exclude linenos
git+https://github.com/executablebooks/sphinx-copybutton.git
recommonmark
furo
git+https://github.com/hypergravity/songcn.git
git+https://github.com/hypergravity/hypergravity.git
#git+https://github.com/hypergravity/laspec.git