astropy
ccdproc
joblib
matplotlib
numpy
scikit-image
scikit-learn
tqdm
scipy
pyqt5
# ------- below goes sphinx packages -------
#sphinx_copybutton==0.5.0 # this does not exclude linenos
git+https://github.com/executablebooks/sphinx-copybutton.git
recommonmark
furo
git+https://github.com/hypergravity/songcn.git
#git+https://github.com/hypergravity/laspec.git